/* Base CSS */

a:focus { outline: 0 solid }
a:hover { text-decoration: none }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
.section-padding{padding:80px 0;}
.product-bg-1 {background-image: url(../img/product-bg-1.jpg)}
.product-bg-2 {background-image: url(../img/product-bg-2.jpg)}
.product-bg-3 {background-image: url(../img/product-bg-3.jpg)}
.product-bg-4 {background-image: url(../img/product-bg-4.jpg)}
    

.section-title {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}
.single-product-box {
	text-align: center;
}
.product-bg {
  background-size: cover;
  background-color: #ddd;
  background-position: center top;
  height: 330px;
  position: relative;
  margin-bottom: 20px;
}
.ticker {
	position: absolute;
	right: 15px;
	top: 15px;
	background: #333;
	color: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 50%;
}
.ticker-green {
	background-color: #2AB89D;
}
.ticker-red {
    background-color: crimson;
}
.product-bottom-hover {
	position: absolute;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	bottom: -16px;
	background: #fff;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	opacity: 0;
	transition: .3s;
	visibility: hidden;
}
.product-bottom-hover a {
	display: block;
	float: left;
	width: 33.33%;
	border-left: 1px solid #ededed;
	border-top: 1px solid #ededed;
	text-align: center;
	padding: 15px;
	color: #333;
}
.product-bottom-hover a:hover {
	background: crimson;
	color: #fff;
}
.product-price {
	font-weight: 700;
	font-size: 110%;
}
.single-product-box h4 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}
.single-product-box:hover .product-bottom-hover {
	visibility: visible;
	opacity: 1;
	bottom: 30px;
}
.product-carousel .owl-nav div {
	width: 30px;
	height: 30px;
	background: #333;
	color: #fff;
	text-align: center;
	font-size: 19px;
	line-height: 28px;
	border-radius: 50%;
	position: absolute;
	left: -15px;
	top: 50%;
	margin-top: -50px;
    opacity: .5;
}
.product-carousel .owl-nav div.owl-next {
	left: auto;
	right: -15px;
}
