/* Base CSS */

a:focus { outline: 0 solid }
a:hover { text-decoration: none }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}

.singel-portfolio:after {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,000000+100 */
background: #f4f4f4; /* Old browsers */
background: -moz-linear-gradient(top, #f4f4f4 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f4f4f4 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f4f4f4 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.section-paddong {padding: 80px 0;}

.portfolio-bg-1 {background-image: url(../img/bg-1.jpg)}
.portfolio-bg-2 {background-image: url(../img/bg-2.jpg)}
.portfolio-bg-3 {background-image: url(../img/bg-3.jpg)}
.portfolio-bg-4 {background-image: url(../img/bg-4.jpg)}
.portfolio-bg-5 {background-image: url(../img/bg-5.jpg)}
.portfolio-bg-6 {background-image: url(../img/bg-6.jpg)}


.singel-portfolio {
  overflow: hidden;
  float: left;
  width: 33.3333%;
  height: 300px;
  color: #fff;
  position: relative;
  z-index: 2;
}
.large-bg {
  height: 630px;
}
.singel-portfolio h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.portfolio-hover {
}
.portfolio-hover {
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: -50px;
  text-align: center;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.singel-portfolio:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0;
  z-index: -1;
  transition: .3s;
}
.singel-portfolio:hover:after {
  opacity: .7;
}
.singel-portfolio:hover .portfolio-hover {
  opacity: 1;
  visibility: visible;
  bottom: 0;
}


ul.portfolio-filter {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.portfolio-filter li {
  display: inline-block;
  padding-right: 20px;
  margin: 50px 0;
  cursor: pointer;
}
ul.portfolio-filter li.active {
    color: #00ACEC;
}
ul.portfolio-filter li:after {
  content: "/";
  margin-left: 15px;
    color: #000;
}
ul.portfolio-filter li:last-child:after {
  display: none;
}