/* Base CSS */

a:focus { outline: 0 solid }
a:hover, a:link, a:visited { text-decoration: none }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-size: 16px;
    line-height: 1.6;
}
.section-padding{
    padding: 80px 0;
}
.feature-bg-1 {background-image: url(../img/bg-1.jpg)}
.feature-bg-2 {background-image: url(../img/bg-2.jpg)}
.feature-bg-3 {background-image: url(../img/bg-3.jpg)}
.feature-bg-4 {background-image: url(../img/bg-4.jpg)}

.features-menu ul {
  margin: 0 0px 100px;
  padding: 0;
  list-style: none;
  text-align: center;
}
.features-menu ul li {
  display: inline-block;
}
.features-menu ul li a {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px;
  margin: 0 15px;
  border-bottom: 4px solid transparent;
  color: #2C2B30;
}
.features-menu ul li.active a{
    border-color: #F2C40E;
}
.features-menu ul li a:hover{
    color: #2C2B30;
}
.single-feature-item {
  position: relative;
  height: 500px;
  width: 100%;
  display: table;
}
.featuer-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 500px;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
}
.feature-text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 550px;
}
.feature-text h4 {
	font-size: 50px;
	opacity: .4;
	color: #333;
	font-weight: 300;
}
.feature-text h2 {
  font-weight: 400;
  font-size: 28px;
}
.boxed-btn {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 30px;
  background: #F4C503;
  border-radius: 40px;
  margin-top: 20px;
    color: #fff;
}
.boxed-btn:hover{color: #fff}