/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/*MObile and Tablet Layout: 768px. */
@media only screen and (max-width: 991px) { 
 
  .offcanvas-menu { 
	    width: 70%; 
	}
    .singel-portfolio-item{
        width: 50%;
    } 
    .margin-bottom-section {
	bottom: 225px;
	left: 37px;
	max-width: 245px;
    }
    .portfolio-area {
	margin-bottom: 387px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
     .offcanvas-menu { 
	    width: 100%; 
        right: -100%; 
	} 
    .singel-portfolio-item{
        width: 100%;
    }
    .footer-area {
	position: relative;
    }
    .portfolio-area {
	margin-bottom: 0;
    }
    .singel-portfolio-item.boxed {
	height: 360px;
	width: 100%;
    }
    .offcanvus-menu{
        width: 100%;
        right: -100%;
    }
    .margin-bottom-section {
	max-width: 185px;
    }
    .footer-area .col-md-3 {
	margin-bottom: 44px;
    }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}