/* Base CSS */

a:focus { outline: 0 solid }
a:hover { text-decoration: none }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

.singel-boxbg-1{background-image: url(../img/bg-1.jpeg)}
.singel-boxbg-2{background-image: url(../img/bg-2.jpeg)}
.singel-boxbg-3{background-image: url(../img/bg-3.jpeg)}


.singel-box-bg {
  height: 220px;
  background-size: cover;
  background-position: center;
}
.section-padding {
  padding: 80px 0;
}
.singel-service-box {
  position: relative;
}
.singel-box-inner {
  text-align: center;
  padding: 25px;
  border: 1px solid #EEEEEE;
  border-top: 0px solid;
}
.singel-box-inner h3 {
  text-transform: uppercase;
  font-size: 19px;
}
.service-meta {
  opacity: .5;
  font-size: 15px;
  text-transform: uppercase;
}
.service-box-wrap {
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  text-align: center;
}
.border-btn {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #EEEEEE;
  color: #999;
  background: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
a.border-btn:hover {
  color: #9D9D9D;
}